<div class="show_container">
  <div class="preview">
    question preview  
  </div>
  
  <%= form_for @question do |f| %>
    <%= f.text_area :question, class: :input, placeholder: @question.question %>
    <%= f.submit "update question" %>
  <% end %>
</div>
