<h1> Beer Overflow Homepage </h1>

<%= link_to 'Ask Question', new_question_path %>
<% if session[:user_id] == nil %>
<form name="input" action="/users/new" method="get">
<input type="submit" value="Sign Up">
</form>
<form name="input" action="/log-in" method="get">
<input type="submit" value="Login">
</form>
<% else %>
<form name="input" action="/log-out" method="get">
<input type="submit" value="Log Out">
</form>
<form name="input" action="/users" method="get">
<input type="submit" value="Homepage">
</form>
<% end %>
<% @questions.each do |question| %>
  <p> <%= link_to question.question, question %> </p>
<% end %>
