<li> 
  <%= button_to '+1', upvote_question_answer_comment_path(question, answer, comment), method: :post %>
  <%= button_to '-1', downvote_question_answer_comment_path(question, answer, comment), method: :post %>
  <span> <%= pluralize(comment.votes.sum(:value), "vote") %> </span>
  <span> <%= comment.comment %> </span>
</li>
  
