<tr class="comment"> 
  <td>
    <%= button_to '+1', upvote_question_answer_comment_path(question, answer, comment), method: :post %>
    <%= button_to '-1', downvote_question_answer_comment_path(question, answer, comment), method: :post %>
  </td>
  <td>
    <span> <%= pluralize(comment.votes.sum(:value), "sud") %> </span>
  </td>
  <td>
    <span> <%= comment.comment %> </span>
  </td>
</tr>
  
