<tr class="comment">
  <td> 
    <%= button_to '+1', upvote_question_comment_path(question, comment), method: :post, class: 'positive', :remote => true %>
    <%= button_to '-1', downvote_question_comment_path(question, comment), method: :post, class: 'negative', :remote => true %>
  </td>
  <td>
    <span class="sud_count"> <%= pluralize(comment.votes.sum(:value), "sud") %> </span>
  </td>
  <td>
    <span> <%= comment.comment %> </span>
  </td>
</tr>
  
