<tr class="comment">
  <td> 
    <%= button_to '+1', upvote_question_comment_path(question, comment), method: :post %>
    <%= button_to '-1', downvote_question_comment_path(question, comment), method: :post %>
  </td>
  <td>
    <span> <%= pluralize(comment.votes.sum(:value), "vote") %> </span>
  </td>
  <td>
    <span> <%= comment.comment %> </span>
  </td>
</tr>
  
